:root {
    --white: #fff;
    --black: #000;
    --purple: #936bff;
    --gray: #7e8492;
    --background: #1d1e25;

    --font-body: 'Inter', sans-serif;
    --font-title: 'DMSans', sans-serif;
    --font-content: 'Raleway', sans-serif;
}

@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter_18pt-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter_18pt-SemiBold.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter_18pt-Bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'DMSans';
    src: url('fonts/DMSans-Bold.ttf') format('truetype');
    font-weight: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-body);
    background: var(--white);
    color: var(--black);
}

img {
    display: block;
    max-width: 100%;
}

ul li a {
    text-decoration: none;
    list-style: none;
    color: inherit;
}

h1 {
    color: var(--white);
    font-size: 2.5rem;
    padding-bottom: 1rem;
}

.banner-inner::before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--gray);
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.container {
    width: 90%;
    margin: 0 auto;
    position: relative;
}

header {
    background: var(--background);
}

.header-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.25rem;
}

#menu-desktop {
    display: none;
}

#menu-mobile button {
    background: var(--background);
    color: var(--white);
    border: 0;
    font-weight: 700;
    font-size: 2rem;
}

.banner-content p {
    color: var(--gray);
    font-size: 1rem;
    font-weight: 500;
    padding-bottom: 2.5rem;
}

.banner-inner img {
    position: absolute;
    transform: translateY(-103px);
    left: 50%;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 3.5rem;
}

.purple-btn {
    background-color: var(--purple);
    color: var(--white);
    font-weight: 700;
    padding: 0.96875rem 0.75rem;
    border-radius: 16px;
    border: 1px solid var(--purple);
    font-size: 0.875rem;
    width: 161px;
}

.banner-button {
    background-color: var(--background);
    color: var(--white);
    font-weight: 700;
    padding: 0.96875rem 0.75rem;
    border-radius: 16px;
    border: 1px solid var(--white);
    font-size: 0.875rem;
    width: 161px;
}

.woman-image img {
    width: 100%;
}

#first-purple-card {
    display: flex;
    flex-direction: column;
    background-color: var(--purple);
    border-radius: 8px;
    padding: 0.625rem 1.0625rem 0.625rem 0.625rem;
    position: absolute;
}

#premium {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 0.9375rem;
}

#support {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.brands-section {
    padding-bottom: 7rem;
}

.brands-section h2 {
    font-size: 2rem;
    text-align: center;
    padding: 3.5rem 0;
}

#brands {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    column-gap: 4.6875rem;
    row-gap: 1rem;
}

#second-purple-card {
    display: flex;
    flex-direction: column;
    background-color: var(--purple);
    border-radius: 8px;
    padding: 0.625rem 1.0625rem 0.625rem 0.625rem;
    position: absolute;
}

#server {
    display: flex;
    flex-direction: row;
}

#section-hosting-time h2 {
    font-size: 2rem;
    text-align: start;
    padding: 1.5rem 0 1rem 0;
}

#section-hosting-time p {
    font-size: 1rem;
    color: var(--gray);
    padding-bottom: 2rem;
}

#section-hosting-time button {
    background: var(--purple);
    color: var(--white);
    font-weight: 700;
    border-radius: 12px;
    border: 0;
    font-size: 1rem;
    padding: 0.875rem 2.5rem;
    width: 187px;
    height: 54px;
}

#cards-content {
    padding-top: 7rem;
}

#cards-content h2 {
    font-size: 2rem;
}

#cards-content p {
    font-size: 1rem;
    color: var(--gray);
    padding: 1rem 0 2.4375rem 0;
}

#cards {

}

.card-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ededed;
    border-radius: 16px;
    padding: 0 1.6875rem 2.5rem 1.5rem;
}

.phone-decoration {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    border: 1px solid #ededed;
    border-end-end-radius: 16px;
    border-end-start-radius: 16px;
    padding: 0.5rem;
}