:root {
    --white: #fff;
    --black: #000;
    --purple: #936bff;
    --gray: #7e8492;
    --background: #1d1e25;

    --font-body: 'Inter', sans-serif;
    --font-title: 'DMSans', sans-serif;
    --font-content: 'Raleway', sans-serif;
}

@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter_18pt-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter_18pt-SemiBold.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter_18pt-Bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'DMSans';
    src: url('fonts/DMSans-Bold.ttf') format('truetype');
    font-weight: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-body);
    background: var(--white);
    color: var(--black);
}

main {
    overflow: hidden;
}

img {
    display: block;
    max-width: 100%;
}

ul li a {
    text-decoration: none;
    list-style: none;
    color: inherit;
}

h1 {
    color: var(--white);
    font-size: 2.5rem;
    padding-bottom: 1rem;
}

.banner-inner::before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--gray);
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.container {
    width: 90%;
    margin: 0 auto;
    position: relative;
}

header {
    background: var(--background);
}

.header-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.25rem;
}

#menu-desktop {
    display: none;
}

#menu-mobile button {
    background: var(--background);
    color: var(--white);
    border: 0;
    font-weight: 700;
    font-size: 2rem;
}

.banner-content p {
    color: var(--gray);
    font-size: 1rem;
    font-weight: 500;
    padding-bottom: 2.5rem;
}

.banner-title img {
    position: absolute;
    transform: translateY(-103px);
    left: 50%;
    width: 67px;
    height: 38.1px;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 3.5rem;
}

.purple-btn {
    background-color: var(--purple);
    color: var(--white);
    font-weight: 700;
    padding: 0.96875rem 0.75rem;
    border-radius: 16px;
    border: 1px solid var(--purple);
    font-size: 0.875rem;
    width: 161px;
}

.banner-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.625rem;
    background-color: var(--background);
    color: var(--white);
    font-weight: 700;
    padding: 0.96875rem 0.75rem;
    border-radius: 16px;
    border: 1px solid var(--white);
    font-size: 0.875rem;
    width: 161px;
}

.woman-image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.woman-image img {
    width: 100%;
    display: block;
    border: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.image-desktop {
    display: none !important;
}

#first-purple-card {
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translate(-15px, -30px);
    display: flex;
    flex-direction: column;
    background-color: var(--purple);
    color: var(--white);
    border-radius: 8px;
    padding: 0.625rem 1rem 0.625rem 0.625rem;
    width: auto;
}

#premium {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 0.9375rem;
    gap: 0.4375rem;
}

#premium img {
    width: 42px;
    height: 27px;
}

#support img {
    width: 42px;
    height: 27px;
}

#support {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.4375rem;
}

.text p {
    font-family: var(--font-content);
    font-size: 0.5625rem;
    font-weight: 500;
}

.text h3 {
    font-family: var(--font-body);
    font-size: 0.625rem;
    font-weight: 600;
    padding-bottom: 0.25rem;
}

.brands-section {
    padding-bottom: 7rem;
}

.brands-section h2 {
    font-size: 2rem;
    text-align: center;
    padding: 3.5rem 0;
}

#brands {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    column-gap: 4.6875rem;
    row-gap: 1rem;
}

#second-purple-card {
    position: absolute;
    bottom: 360px;
    left: 10%;
    transform: translate(-15px, -20px);
    display: flex;
    flex-direction: row;
    gap: 1rem;
    background-color: var(--purple);
    color: var(--white);
    border-radius: 8px;
    padding: 1.0625rem 1.5rem 1.6rem 0.75rem;
    width: 65%;
}

#server {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 0.25rem;
}

#section-hosting-time h2 {
    font-size: 2rem;
    text-align: start;
    padding: 1.5rem 0 1rem 0;
}

#section-hosting-time p {
    font-size: 1rem;
    color: var(--gray);
    padding-bottom: 2rem;
}

#section-hosting-time button {
    font-family: 'Inter';
    background: var(--purple);
    color: var(--white);
    font-weight: 700;
    border-radius: 12px;
    border: 0;
    font-size: 1rem;
    padding: 0.875rem 2.5rem;
    width: 187px;
    height: 54px;
}

#cards-content {
    padding-top: 7rem;
}

#cards-content h2 {
    font-size: 2rem;
}

#cards-content p {
    font-size: 1rem;
    color: var(--gray);
    padding: 1rem 0 2.4375rem 0;
}

#cards {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-bottom: 7rem;
}

.card-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ededed;
    border-radius: 16px;
    padding: 0 1.6875rem 2.5rem 1.5rem;
}

.phone-decoration {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    border: 1px solid #ededed;
    border-end-end-radius: 16px;
    border-end-start-radius: 16px;
    padding: 0.5rem;
    gap: 3.8125rem;
}

.bar {
    align-self: center;
    width: 84px;
    height: 5px;
}

.card-title {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding-top: 2rem;
    padding-bottom: 2.125rem ;
}

.card-title h3 {
    font-size: 1.417rem;
    font-weight: 600;
}

.card-content p {
    font-size: 1.125rem;
    line-height: 2;
    font-weight: 500;
    color: var(--gray);
}

.hosting-content h2 {
    font-size: 2rem;
    font-weight: 600;
    padding-bottom: 1rem
}

.hosting-content p {
    font-size: 1rem;
    font-weight: 500;
    color: var(--gray);
    padding-bottom: 2rem;
}

.hosting-btns {
    display: flex;
    flex-direction: row;
    padding-bottom: 2rem;
}

.desktop-btn {
    display: none;
}

.hosting-btn {
    background-color: var(--purple);
    color: var(--white);
    font-weight: 700;
    padding: 0.96875rem 0.75rem;
    border-radius: 100px;
    border: 1px solid var(--purple);
    font-size: 0.875rem;
    width: 262px;
}

#solutions-image {
    display: flex;
    position: absolute;
    bottom: 415px;
    transform: translate(20px);
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    background-color: var(--background);
    color: var(--white);
    padding: 0.875rem 0.625rem 0.875rem 0.625rem;
}

#solutions-content {
    padding-bottom: 7rem;
}

#solutions-content h3 {
    font-size: 1.5rem;
    font-weight: 600;
    padding-top: 2rem;
}

#solutions-content p {
    font-size: 1rem;
    font-weight: 500;
    color: var(--gray);
    padding-top: 1rem;
    padding-bottom: 2rem;
    line-height: 1.5;
}

#solutions-content button {
    background-color: var(--purple);
    color: var(--white);
    font-weight: 700;
    padding: 0.96875rem 0.75rem;
    border-radius: 100px;
    border: 1px solid var(--purple);
    font-size: 1rem;
    width: 187px;
}

#plans-content {
    padding-bottom: 3.5rem;
}

#plans-content h2 {
    font-size: 2rem;
    font-weight: 600;
    padding-bottom: 1rem;
}

#plans-content p {
    font-size: 1rem;
    font-weight: 500;
    color: var(--gray);
    padding-bottom: 1rem;
}

.plans-btn {
    background-color: #fcfcff;
    color: var(--purple);
    font-weight: 500;
    font-size: 0.875rem;
    border-radius: 100px;
    border: 1px solid #fcfcff;
    padding: 0.375rem 1rem;
    font-family: var(--font-body);
    margin-bottom: 1rem;
}

.plans-purple-button {
    background-color: var(--purple);
    color: var(--white);
    font-weight: 700;
    padding: 0.96875rem 0.75rem;
    border-radius: 100px;
    border: 1px solid var(--purple);
    font-size: 1rem;
    width: 187px;
}

.all-plans {
    gap: 3rem;
}

.plans {
    background-color: #fafbfa;
    padding: 1rem;
    padding-bottom: 0;
    margin-bottom: 2rem;
}

.plan-content {
    padding-bottom: 2.5rem;
}

.plan-content h3 {
    font-size: 2rem;
    font-weight: 600;
    padding-bottom: 1rem;
}

.plan-content p {
    font-size: 1.125rem;
    font-weight: 500;
    color: var(--gray);
    padding-bottom: 2.5rem;
}

.plan-content button {
    background-color: var(--purple);
    color: var(--white);
    font-weight: 700;
    padding: 0.96875rem 0.75rem;
    border-radius: 100px;
    border: 1px solid var(--purple);
    font-size: 1rem;
    width: 239px;
}

.plan-value {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25rem;
    padding-bottom: 0.5rem;
}

.content-line {
    text-decoration: line-through;
    font-size: 1rem;
    font-weight: 500;
}

.highlight-value {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--black) !important;
}

.plan-others p {
    font-size: 1.125rem;
    font-weight: 500;
    color: var(--gray);
    padding-bottom: 2rem;
}

.plan-others h4 {
    font-size: 1rem;
    font-weight: 700;
    padding-bottom: 1rem;
}

.things-included {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem ;
    padding-bottom: 1rem;
}

.review-inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.review-inner h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.reviews-btn {
    background-color: #fcfcff;
    color: var(--purple);
    font-weight: 500;
    font-size: 0.875rem;
    border-radius: 100px;
    border: 1px solid #fcfcff;
    padding: 0.375rem 1rem;
    font-family: var(--font-body);
}

.reviews {
    padding-bottom: 2rem;
}

.clients-review {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2rem;
    padding-top: 2rem;
}

.line-name {
    font-size: 1.125rem;
    font-weight: 600;
    padding-top: 1.5rem;
}

.gray-name {
    font-size: 1rem;
    font-weight: 500;
    color: var(--gray);
    padding-top: 0.25rem;
}

.other-reviews {
    display: none;
}

#arrow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.review-section {
    padding-bottom: 3.5rem;
}

/*footer*/

footer {
    background-color: #070127;
    color: var(--white);
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.footer-desktop {
    display: none;
}

.footer-content img {
    padding-bottom: 0.5rem;
}

.footer-content p {
    font-size: 1rem;
    font-weight: 400;
    color: var(--gray);
    line-height: 1.5rem;
    padding-bottom: 1.5rem;
}

.footer-navigation {
    padding-bottom: 1rem;
}

.footer-navigation ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-right: 1rem;
}

.footer-navigation li {
    padding-right: 2.5rem;
    padding-bottom: 1rem;
}

.footer-navigation li {
    list-style: none;
}

.footer-image {
    position: relative;
}

.footer-image img {
    position: absolute;
    bottom: -30px;
    left: 55%;
    transform: translate(-10px, 300px);
    z-index: -1;
    width: 261px;
    height: 283px;
}

.footer-download {
    display: flex;
    flex-direction: column;
    width: 135px;
    height: auto;
}

.footer-email {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--white);
    border-radius: 100px;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    margin-top: 3rem;
    margin-bottom: 1.25rem;
    z-index: 1;
}

.footer-email p {
    font-size: 0.875rem;
    font-weight: 700;
    color: var(--black);
    align-self: center;
}

.footer-email button {
    background-color: var(--purple);
    color: var(--white);
    font-weight: 700;
    padding: 0.8125rem 1.25rem;
    border-radius: 100px;
    border: 1px solid var(--purple);
    font-size: 0.875rem;
    width: 148px;
}

.social-footer {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.mobile-footer::before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--gray);
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.terms {
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
    padding-bottom: 1.5rem;
}

.terms p {
    color: var(--white) !important;
    font-size: 1rem;
    font-weight: 500;
}

.mobile-footer p {
    color: var(--gray);
    font-size: 1rem;
    font-weight: 400;
}

@media (min-width: 380px) and (max-width: 1439px) {

    header {
        overflow: hidden;
    }

    .banner-title {
    display: flex;
    align-items: center;
    justify-content: center;
    }

    .banner-title h1 {
        text-align: center;
        padding-bottom: 2rem;
    }

    .banner-title img {
        display: none;
    }

    .banner-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .banner-content p {
        text-align: justify;
    }

    .buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1rem;
    }

    #first-purple-card {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        width: 300px;
        max-width: 90%;
        padding: 1rem;
    }

    #brands {
        place-items: center;
    }

    .section-time {
        display: flex;
        flex-direction: row;
    }

    .section-time > section:first-child {
        flex: 0 0 40%;
    }

    .section-time > section:last-child {
        flex: 1;
    }

    #second-purple-card {
        bottom: -0px;
        left: 3%;
        width: 28%;
        height: auto;
        padding: 1.75rem 4.6rem 2rem 1.25rem;
    }

    #section-hosting-time h2 {
        padding-left: 2.75rem;
    }

    #section-hosting-time p {
        padding-left: 2.75rem;
    }

    #section-hosting-time button {
        margin-left: 2.75rem;
    }

    #cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .card-box {
        width: 100%;
        max-width: 350px;
    }

    .plans {
        width: 300px;
    }
}

@media (min-width: 1440px) {

    #menu-mobile {
        display: none;
    }

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 3.5rem;
    }

    .header-inner {
        display: flex;
        justify-content: flex-start;
        width: fit-content;
    }

    #menu-desktop {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 1.25rem;
        width: 100%;
    }

    #links-header {
        display: flex;
    }

    #links-header ul {
        display: flex;
        flex-direction: row;
        color: var(--white);
        list-style: none;
        gap: 2rem;
        white-space: nowrap;
    }

    #btn-header {
        margin-left: 2rem;
        width: 181px;
    }


    .banner {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 12.75rem;
        padding-bottom: 5rem;
    }

    .banner-title h1 {
        font-size: 4rem;
    }

    .banner-content {
        flex: 1;
    }

    .banner-content p {
        font-size: 1.1rem;
        line-height: 2rem;
        padding-bottom: 3rem;
    }

    .buttons {
        gap: 2rem;
        padding-bottom: 0;
    }

    .purple-btn {
        width: 194px;
    }

    .banner-button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 194px;
    }

    .banner-title img {
        width: 102px;
        height: auto;
        position: absolute;
        transform: translateY(-70px);
        left: 25%;
    }

    .woman-image img {
        height: auto;
        width: 1280px;
        overflow: hidden;
    }

    #brands {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: auto;
        column-gap: 3.5rem;
        margin-left: 4.4375rem;
        margin-right: 4.4375rem;
    }

    .section-time {
        display: flex;
        flex-direction: row;
    }

    .section-time > section:first-child {
        flex: 0 0 40%;
    }

    .section-time > section:last-child {
        flex: 1;
    }

    #second-purple-card {
        bottom: -0px;
        left: 3%;
        width: 28%;
        height: auto;
        padding: 1.75rem 4.6rem 2rem 1.25rem;
    }

    #section-hosting-time h2 {
        font-size: 3.5rem;
        padding-left: 2.75rem;
    }

    #section-hosting-time p {
        font-size: 1.125rem;
        padding-left: 2.75rem;
        width: 80%;
        line-height: 2rem;
    }

    #section-hosting-time button {
        margin-left: 2.75rem;
    }

    .image img {
        width: 95px;
        height: 50px;
    }

    .text {
        padding-left: 0.6875rem;
    }

    .text p {
        font-size: 1rem;
    }

    .text h3 {
        font-size: 1rem;
    }

    #server {
        gap: 0;
    }

    #cards-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 11.5rem;
        padding-bottom: 3.6rem;
    }

    #cards-content h2 {
        font-size: 3.5rem;
    }

    #cards-content p {
        font-size: 1.125rem;
        padding: 0;
    }

    #cards {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        margin-right: 10.5rem;
    }

    .card-box {
        width: 100%;
        max-width: 350px;
    }

    .hosting-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-right: 4rem;
        padding-bottom: 3.5rem;
        gap: 17.6rem;
    }

    .hosting-content h2 {
        font-size: 3.5rem;
    }

    .hosting-content p {
        font-size: 1.125rem;
        padding-bottom: 0;
        line-height: 2rem;
    }

    .hosting-btns {
        padding-bottom: 4rem;
        gap: 2rem;
    }

    .hosting-btn {
        font-size: 1.125rem;
        width: auto;
        padding: 0.75rem 1.5rem;
        font-weight: 500;
    }

    .desktop-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.75rem 1rem;
        border-radius: 100px;
        border: 1px solid var(--black);
        background-color: var(--white);
        font-size: 1.125rem;
    }

    .desktop-content {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        gap: 6.75px;
    }

    .desktop-content img {
        width: 657px;
        max-width: 500px;
        height: auto;
        border-radius: 8px;
    }

    #solutions-content {
        padding-bottom: 0;
        padding-right: 6.75rem;
    }

    #solutions-content h3{
        font-size: 2rem;
    }

    #solutions-content p {
        font-size: 1.125rem;
        line-height: 2rem;
    }

    #solutions-image {
    bottom: 30px;
    transform: translate(820px);
    }

    #solutions-content button {
    padding: 0.9375rem 1.25rem;
    }

    .plans-section {
        display: flex;
        flex-direction: row;
        margin-top: 14rem;
        margin-bottom: 13rem;
        gap: 0.125rem;
    }

    #plans-content {
        padding-right: 4.25rem;
    }

    #plans-content h2 {
        font-size: 3rem;
    }

    #plans-content p {
        font-size: 1.125rem;
        width: 250px;
        padding-bottom: 2.5rem;
    }

    .review-section {
        margin-right: 0;
        margin-left: 4.5rem;
    }

    .review-inner {
        margin: 0 25rem;
        padding-bottom: 3.5rem;
        display: flex;
        align-items: center;
    }

    .review-inner h2 {
        font-size: 3rem;
    }

    .other-reviews {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    .reviews {
        display: flex;
        flex-direction: row-reverse;
    }

    .reviews-container img {
        padding-right: 2rem;
    }

    .review-content {
        display: flex;
        flex-direction: column;
        padding-top: 3.5rem;
    }

    .reviews-container {
        display: flex;
        flex-direction: row;
    }

    .clients-review {
        padding: 0;
        max-width: 550px;
    }

    .other-reviews img {
        display: block;
        width: auto;
        height: 354px;
    }

    .woman-image img {
        display: none;
    }

    .image-desktop {
        width: 100%;
        display: block !important;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }

    #first-purple-card {
        bottom: 10px;
        left: 70%;
        padding: 1.5rem 2.4375rem 1.5rem 1.5rem;
        width: 350px;
    }

    #premium {
        padding-bottom: 2.125rem ;
    }

    #premium img {
        display: block;
        width: 110px;
        height: 60px;
    }

    #support img {
        display: block;
        width: 110px;
        height: 60px;
    }

    .text p {
        font-size: 1.25rem ;
    }

    .text h3 {
        font-size: 1.5rem;
    }
  
    #arrow img {
        position: absolute;
        left: 80%;
        transform: translateY(-126px);
    }

    /* footer */

    footer {
        background-color: var(--background);
    }

    .footer {
        display: flex;
        flex-direction: row;
    }

    .footer-left {
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    .footer-right {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        width: 50%;
    }

    .mobile-footer {
        display: none;
    }

    .footer-content p {
        width: 61%;
        padding-bottom: 2rem;
    }

    .footer-download {
        display: flex;
        flex-direction: row;
        gap: 2.125rem;
        padding-top: 5.1875rem;
    }

    .footer-desktop {
        display: flex;
        flex-direction: column;
    }

    .footer-desktop p {
        color: var(--white);
        padding: 0;
    }

    .rights-reserved {
        color: var(--gray) !important;
        padding-top: 1.5rem !important;
        padding-bottom: 0.5rem !important;
    }

    .footer-email {
        padding: 1rem 1.5rem 1rem 1.5rem;
        width: 575px;
    }

    .footer-email p {
        font-size: 1.125rem;
        font-weight: 500;
    }

    .footer-email button {
        padding: 0.6875rem 1.25rem;
        font-size: 1rem;
        font-weight: 500;
        font-family: 'Inter';
    }

    .social-footer {
        gap: 3.125rem;
        padding-right: 12.8rem;
    }

    .footer-image img {
        bottom: 10px;
        left: 120%;
        transform: translate(-10px, 300px);
        width: 468px;
        height: 509px;
    }

}